<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>DMC</title>
    <link rel="icon" href="images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="style.css">



</head>

<body>
    <header>
        <div class="header">
            <img class="headimg" src="images/DMC Logo!1.png" alt="">
            <img class="headimg2" src="images/Screenshot_2.jpg" alt="">
            <!--<h1 class="primerh1">Distribuidora DMC.</h1>-->
        </div>
    </header>
    <section>
        <div class="tamanio">
            <div class="contenedor0">
                <h2>Nuestros servicios:</h2>
                <ul>
                    <li>
                        Importaciones
                    </li>
                    <li>
                        Exportaciones
                    </li>
                </ul>
            </div>
            <div class="contenedor1">
                <div class="mensajeria">
                    <form action="/" method="post" class="formulario">
                        <p class="ppp">{{message}}</p>
                        <input class="controles" type="text" name="nombre" placeholder="Nombre" id="nombre">
                        <input class="controles" type="email" name="email" placeholder="Email" id="email">
                        <input class="controles" type="text" name="telefono" placeholder="Teléfono" id="telefono">
                        <textarea class="controlesmensaje" name="mensaje" id="mensaje" placeholder="Consulta" cols="30"
                            rows="10"></textarea>
                        <input class="boton" type="submit" value="Contactanos" id="boton">


                    </form>

                </div>

            </div>
        </div>
    </section>
    <section class="section2">
        <div class="contenedor2">
            <div class="primercuadro"><i class="fa-regular fa-address-card"></i>
                <h2 class="iconos">Experiencia Laboral</h2>
                <p>Mas de 10 años en lo nuestro.</p>
            </div>
            <div class="primercuadro"><i class="fa-regular fa-circle-check"></i>
                <h2 class="iconos">Servicio de calidad</h2>
                <p>Confianza garantizada y transparencia.</p>
            </div>
            <div class="primercuadro"><i class="fa-regular fa-pen-to-square"></i>
                <h2 class="iconos">Personal especializado</h2>
                <p>Contamos con personal eficiente y ágil.</p>
            </div>
        </div>
    </section>

    <section>

        <div class="contenedor3">

            <div class="imgydescripcion">
                <div class="p1">
                    <img class="ases" src="images/consultenos.jpg" alt="">


                    <p class="textoc3">
                        Su consulta no molesta, le responderemos lo más rápido posible para poder evacuar sus dudas y
                        resolver los problemas que se le presenten
                    </p>
                </div>
                <div class="img1">
                    <img class="imagenes4" src="images/asesoria.jpg" alt="">
                </div>
            </div>

            <div class="imgydescripcion">
                <div class="img2">
                    <img class="imagenes4" src="images/aereo.jpg" alt="">
                </div>
                <div class="p2">
                    <img class="aere" src="images/CARGA AÉREA.jpg" alt="">

                    <p class="textoc3">
                        Fletes aéreos con tecnología adecuada al producto a transportar, con trazabilidad punto a punto
                        y sin paradas adicionales. Buscando que nuestro cliente obtenga en tiempo y forma su pedido con
                        la transparencia y calidad que nos caracteriza.
                    </p>
                </div>
            </div>

            <div class="imgydescripcion">
                <div class="p3">
                    <img class="mari" src="images/Carga Marítima.jpg" alt="">

                    <p class="textoc3">
                        Poseemos una amplia experiencia en servir a nuestros clientes en el transporte de sus productos
                        trabajando con embarques de todo tipo buscando la conveniencia para el cliente
                    </p>
                </div>
                <div class="img3">
                    <img class="imagenes4" src="images/maritima.jpg" alt="">
                </div>
            </div>

        </div>

    </section>


    <section>
        <div class="tamanio2">
            <div class="leter">
                <a href="">
                    <h5>REALICE SU CONSULTA <i class="fa-regular fa-envelope"> </i> !
                </a></h5>
            </div>
        </div>
    </section>


</body>

</html>